html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    background-color:rgb(149, 179, 245);
}

body {
    max-width: fit-content;
    max-height: fit-content;
}

.navbar {
    float:right;
    /* margin-top: 60px; */
    margin-right: 200px;
}
h1 {
    margin-left: 50px;
}
.main-container {
    height: 500px;
    /* border: 2px solid black; */
    width: 800px;
    margin-left: 550px;
    margin-top: 70px;
    align-items: center;
    padding-left: 50px;
    padding: 10px;
}

#title-textarea {
    padding-top:5px;
    margin-top:5px;
    color: black;
    background-color: #ffffff;
}
#author-textarea {
    background-color: #ffffff;
    margin-top:5px;
    padding-top:5px;
}

#content-textarea {
    background-color: #ffffff;
    margin-top:5px;
    padding-top:5px;
    line-height: 2em;
    
}

input {
    margin-top: 10px;
    margin-left:120px;
}
.create-button {
    background-color: aliceblue;
    margin: 2px 2px 0px 0px;
    padding-left: 102px;
    padding-right: 102px;
    
}
.back-arrow {
    margin-left:270px;
}
.footer {
    height: 100px;
    width: 800px;
    
}

#select-tags {
    width:246px;
    /* background: aliceblue; */
    overflow-y: hidden;
}

option{
    background: #ffffff;
}

/* .title-heading {
    position: auto;
    margin-top:20px;
} */